@model DesafioMVC.DTO.BusinessDTO
@{
    Layout = "_LayoutAdmin";
}
<div class="card">
    <div class="card-header card-header-primary">
        <h2 class="card-title">Alterar negócio</h2>  
    </div>
    <div class="card-body">    
        <form class="form-horizontal" asp-controller="Businesses" asp-action="Edit" method="POST">
            <input type="hidden" asp-for="Id">

            <label asp-for="Name"><strong>Nome</strong></label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Nome de negócio">
            <span asp-validation-for="Name" class="text-danger"></span><br>
            
            <button class="btn btn-success">Alterar</button>
        </form>
    </div>
</div>