@model DesafioMVC.DTO.DistrictDTO
@{
    Layout = "_LayoutAdmin";
}
<div class="card">
    <div class="card-header card-header-primary">
        <h2 class="card-title">Novo bairro</h2>
    </div>
    <div class="card-body">    
        <form class="form-horizontal" asp-controller="Districts" asp-action="Save" method="POST">
            <input type="hidden" asp-for="Id" value="0">

            <label asp-for="StateId"><strong>UF</strong></label>
            <select asp-for="StateId" class="form-control" id="state" asp-items='@(new SelectList(@ViewBag.States, "Id", "Uf"))'>
                <option value="0" selected>Selecione um estado</option>
            </select>
            <span asp-validation-for="StateId" class="text-danger"></span><br>

            <label asp-for="CityId"><strong>Município</strong></label>
            <select asp-for="CityId" class="form-control" id="city">
                <option value="0" selected>Selecione um município</option>
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span><br>

            <label asp-for="Name"><strong>Nome</strong></label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Nome do bairro">
            <span asp-validation-for="Name" class="text-danger"></span><br>

            <button class="btn btn-success">Cadastrar</button>
        </form>
    </div>
</div>
<script>
    async function citiesFetch() {
        const stateSelect = document.getElementById("state")
        const citySelect = document.getElementById("city")

        if (stateSelect.value !== "0") {
            const stateId = stateSelect.value

            const res = await fetch(`https://localhost:5001/Cities/CitiesByState/${stateId}`)
            const cities = await res.json()

            let citySelectOptions = '<option value="0">Selecione um município</option>'
            cities.forEach(city => {
                let option = `<option value="${city.id}">${city.name}</option>`
                citySelectOptions = citySelectOptions.concat(option)
            })

            citySelect.innerHTML = citySelectOptions
        }

        stateSelect.addEventListener("change", async event => {
            const stateId = event.target.value

            const res = await fetch(`https://localhost:5001/Cities/CitiesByState/${stateId}`)
            const cities = await res.json()

            let citySelectOptions = '<option value="0">Selecione um município</option>'
            cities.forEach(city => {
                let option = `<option value="${city.id}">${city.name}</option>`
                citySelectOptions = citySelectOptions.concat(option)
            })

            citySelect.innerHTML = citySelectOptions
        })
    }

    citiesFetch()
</script>