@model DesafioMVC.DTO.StateDTO
@{
    Layout = "_LayoutAdmin";
}
<div class="card">
    <div class="card-header card-header-primary">
        <h2 class="card-title">Novo estado</h2>  
    </div>
    <div class="card-body">    
        <form class="form-horizontal" asp-controller="States" asp-action="Save" method="POST">
            <input type="hidden" asp-for="Id" value="0">
            <label asp-for="Uf"><strong>UF</strong></label>
            <select asp-for="Uf" class="form-control" id="uf"></select>
            <span asp-validation-for="Uf" class="text-danger"></span><br>
            <label asp-for="Name"><strong>Estado</strong></label>
            <input type="text" asp-for="Name" readonly class="form-control" placeholder="Nome do estado" id="state">
            <span asp-validation-for="Name" class="text-danger"></span><br>
            <button class="btn btn-success">Cadastrar</button>
        </form>
    </div>
</div>
<script>
    async function statesFetch() {
        const res = await fetch("https://servicodados.ibge.gov.br/api/v1/localidades/estados?orderBy=nome")
        const states = await res.json()

        let ufSelectOptions = '<option value="">Selecione um estado</option>'
        states.forEach(state => {
            let option = `<option value="${state.sigla}">${state.sigla}</option>`
            ufSelectOptions = ufSelectOptions.concat(option)
        })

        const ufSelect = document.getElementById("uf")
        ufSelect.innerHTML = ufSelectOptions

        ufSelect.addEventListener("change", event => {
            const uf = event.target.value
            const stateName = document.getElementById("state")

            if (uf) {
                const stateSelected = states.find(state => state.sigla == uf)
                stateName.value = stateSelected.nome
            } else {
                stateName.value = ""
            }
        })
    }

    statesFetch()
</script>