@model IEnumerable<DesafioMVC.Models.State>
@{
    Layout = "_LayoutAdmin";
    @* Console.WriteLine(TempData["Error"]); *@
}

<script>
    $(document).ready(function () {
        $('#state').DataTable({
            "info": false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Desculpa, nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                }
            },
            "dom": "<'row'<'col-sm-12 col-md-6'f><'col-sm-12 col-md-6 text-right'l>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        });
    });
</script>

@if (TempData.ContainsKey("Error") && TempData["Error"].Equals(true)) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Não foi possível deletar o estado, pois ele está associado a outro item!</strong> - Clique no x para fechar esse aviso
    </div>
}

<div class="card">
    <div class="card-header card-header-primary">
        <div class="row">
            <div class="col">
                <h2 class="card-title">Estados</h2> 
            </div>
            <div class="col align-self-center text-right">
                <a asp-controller="Admin" asp-action="NewState" 
                    class="btn btn-secondary" 
                >
                    Criar novo estado
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="state">
                <thead class="text-primary">
                    <tr>
                        <th>Id</th>
                        <th>UF</th>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var state in Model) {
                        <tr>
                            <td>@state.Id</td>
                            <td>@state.Uf</td>
                            <td>@state.Name</td>
                            <td class="td-actions">
                                <form asp-controller="States" asp-action="Delete" method="POST" style="display: inline;">
                                    <input type="hidden" name="id" id="id" value="@state.Id">
                                    <button class="btn btn-danger">
                                        <i class="material-icons">close</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>